/* index.scss */

$background-gradient: linear-gradient(to bottom right, #7b4397, #dc2430);

.container-login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-gradient;
}

.form-wrapper {
  background: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.forgot-password {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: $background-gradient;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.social-login-text {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.social-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 45px;
  // color: #555;
}

.sign-up {
  margin-top: 20px;
  font-size: 14px;
}
