$background-gradient: linear-gradient(to bottom right, #7b4397, #dc2430);
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $background-gradient;
  }
  
  .register-form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  .register-form h2 {
    margin-bottom: 1rem;
  }
  
  .register-form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
//   .register-form button {
//     background: linear-gradient(45deg, #ff416c, #ff4b2b);
//     border: none;
//     color: white;
//     padding: 0.5rem 1rem;
//     border-radius: 5px;
//     cursor: pointer;
//     transition: background 0.3s;
//   }

.button {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    background: $background-gradient;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  .register-form button:hover {
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
  }
  .error {
    color: red;
    font-size: 12px;
  }
  