 .even-row {
    text-align: center;
    background-color: #dcdcdc; 
  }
  

  .odd-row {
    text-align: center;
    background-color: #fcffe5; 
  } 
.custom-table-header .ant-table-thead > tr > th {
    text-align: center;
    background-color: #beeaff; 
    color: rgb(107, 85, 74); 
    font-weight: bold;
  }
  
