.layout {
  background: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
}

/* .logo {
  font-size: 24px;
  font-weight: bold;
} */

.header-icons {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 32px;
  margin-left: 32px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.ant-layout-header {
  background-color: white;
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 30%;
}

.search-icon {
  position: absolute;
  left: 15px;
  font-size: 19px;
  color: #000;
}

.search-input {
  padding: 10px 10px 10px 40px;
  border: none;
  width: 20vw;
  border-bottom: 2px solid #ccc;
  font-size: 17px;
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}
